pyttsx3            # TTS
SpeechRecognition  # STT
pyaudio            # для микрофона
opencv-python      # работа с экраном/камерой
pynput             # события клавиатуры и мыши
python-dotenv      # для переменных окружения
ollama
